<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>163632240086-77l2sg7mfqc2i3uuv4gjdfr34l6irffd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163632240086-77l2sg7mfqc2i3uuv4gjdfr34l6irffd</string>
	<key>API_KEY</key>
	<string>AIzaSyC6yOikECtZAdSCrikOgGX1rBUiA-6EbYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>163632240086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adolforeyes.coderroom</string>
	<key>PROJECT_ID</key>
	<string>coderroom-57a91</string>
	<key>STORAGE_BUCKET</key>
	<string>coderroom-57a91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163632240086:ios:9186d1a7440b3034</string>
	<key>DATABASE_URL</key>
	<string>https://coderroom-57a91.firebaseio.com</string>
</dict>
</plist>